.searchSelect {
  /* position:  absolute; */
  width: 270px;
  height: 374px;
  z-index: 5;
  padding: 15px;
  background: #01012C;
  border-radius: 5px;
}

.searchSelect ul {
  display:  flex;
  flex-direction:  column;
  justify-content:  flex-start;
  align-items:  flex-start;
  background: rgba(255, 255, 255, 0.18);
  margin-bottom: 15px;
  height: 230px;
}

.searchSelect p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 0;
}
.searchSelect ul li{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
}
.searchSelect ul li:hover{
   background: rgba(0, 0, 43, 0.6);
}
.searchSelect__photo {
  position: relative;
  background: rgba(255, 255, 255, 0.18);
  padding: 0 10px;
}
.searchSelect__photo img {
  position:  absolute;
  right: 15px;
  z-index: 2;
  top: 30%;
}
.searchSelect__photo input {
  width: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.34);
  border-radius: 0;
  outline: 0;
}
.searchSelect ul li a {
  margin-left: 10px;
}
.searchSelect .active {
  background: rgba(0, 0, 43, 0.6);
}