.header {
  box-sizing: border-box;
}
.header__contacts{
  background: #00002B;
}
.d-flex{
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
    padding: 10px 0;
}
.d-flex ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
ul.contacts:first-child {
  justify-content: space-between;
}
ul.contacts:last-child {
  justify-content: flex-end;
}
.d-flex ul li{
  display: flex;
  align-items: center;
}
.contacts li a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}   
.favorites {
  background: #FEEB10;
  border-radius: 5px;
  padding: 7px 5px;
}
.d-flex ul li:first-child{
  margin-right:25px;}
.d-flex ul li:first-childa{
    font-weight: normal;
    text-decoration-line: underline;
}
li.menu__link {
  width: 85px;
  justify-content: center;
}
li.menu__link a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.04em;
  color: #01012C;
}
li.favorites a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.04em;
  color: #01012C;
}
li.menu__link a:hover{
  color: #FF5C00;
  font-weight: 600;
}
.menu__link.favorites a img:last-child {
  display: block;
}
.menu__link:hover.favorites a img:first-child{
    display: block;
}
li.menu__link.favorites a:hover {
  color: inherit;
  font-weight: inherit;
}
  .menu__link a img:last-child {
    display:  none;
}
.menu__link:hover a img:last-child {
    display:block;
}
.menu__link:hover a img:first-child {
    display:none;
}
  .menu__catalog {
    background: #FEEB10;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .menu__catalog1 {
    background: #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .menu__catalog a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #00002B;
  }
  .menu__catalog1 a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FEEB10;
  }
.catalogBlock{
  display: block;
}
  button.adress__button {
    background:  inherit;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #FFFFFF;
    border: none;
    outline: inherit;
}

.header__hidden{
  display: none;
}
.menu__catalog img{
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 5px;
}
.menu__catalog1 img{
  margin-right: 5px;
  width: 15px;
}
  /* modal   */
  .modal__title{
    padding: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 43, 0.2);
    display: flex;
    margin-bottom: 35px;
  }
  .modal__title h5{
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-left: 75px;
  }
  .modal__title__p{
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #FF5C00; 
    margin-left: 10px;
  }
  .modal__title__p span {
    font-size: 10px;
  }
  .modal {
    font-size: 12px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 460px;
    height: auto;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    height: 23px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 5px;
    line-height: 20px;
    right: 20px;
    font-weight: 900;
    top: 14px;
    font-size: 24px;
    background: #00002B;
    color: #fff;
    border: none;
  }
  .modal__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .modal__form .modal__input{
    width: 300px;
    margin-bottom: 20px;
  }
  .modal__form input::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 43, 0.5);
  }
  .input__btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    background: #FEEB10;
    border-radius: 5px;
    width: 300px;
    border: none;
  }
  .flex-between div {
    display:  flex;
    align-items:  center;
  }
  .flex-between .flex-between {
      width: 300px;
  }
  .modal__form .flex-between {
      width: 300px;
      margin-top: 20px;
  }
  .forgot {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #00002B;
  }
  .flex-between div label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #00002B;
  }
  .register__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #00002B;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .register__btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #00002B;
  }
  .modal__text{
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #00002B;
    width: 300px;
  }
  .modal__text a{
    display: inline-block;
    text-decoration-line: underline;
  }
  .modal__text a:last-child {
    text-decoration-line: none;
}
.result{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.result span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  margin-top: 30px;
}
.result p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #00002B;
}
  /* modal  */
.adress__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.addres__search{
  padding: 18px;
}
.search__btn{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  letter-spacing: 0.04em;
  color: #00002B;
  background: #FEEB10;
  border-radius: 5px;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  display: flex;
  justify-content: center; 
}


div#popup-2::before {
  content:  '';
  background: rgb(1, 1, 44);
  width: 20px;
  height: 20px;
  position:  absolute;
  top: -10px;
  left: 40px;
  transform: rotate(45deg);
}

div#popup-2 {
  position: absolute !important;
  left: 88px;
  top: 68px;
}



@media (max-width: 1024px){
  li.menu__link a {
    font-size: 11px;
    line-height: 13px;
  }  
}
@media (max-width: 994px){
  .d-flex ul li:first-child {
    margin-right: 10px;
  }
  .menu__input input {
    width: 270px;
    padding: 9px 16px;
  }
  
  .menu__catalog a {
    font-size: 12px;
    line-height: 15px;
  }
  
  .input__icon {
    padding: 5px;
    right: 3px;
    top: 2px;
  }
}
@media (max-width: 768px){
  ul.contacts.buttons {
    width: 75%;
  }
  ul.contacts.buttons li button {
    font-size: 8px;
    line-height: 10px;
    height: 20px;
    padding: 0 8px;
  }
  li.headder__logo img {
    height: 40px;
  }
  
  .menu__catalog a {
    font-size: 10px;
    line-height: 12px;
  }
  
  .menu__catalog {
    padding: 8px 10px;
  }
  
  .menu__input input {
    width: 198px;
    padding: 6px 8px;
  }
  
  input::placeholder {
    font-size: 10px;
  }
  
  .input__icon {
    padding: 4px 6px;
  }
  
  .input__icon img {
    width:  11px;
    height:  11px;
  }
  
  li.menu__link a {
    font-size: 9px;
    line-height: 11px;
  }
  li.favorites a {
    font-size: 9px;
  }
  
  li.menu__link a img {
    width:  13px;
    height: 13px;
  }
  .d-flex {
    padding: 5px 0;
  }
  
  button.adress__button {
    height: auto;
  }
}
@media (max-width: 414px){
  ul.contacts.buttons {
    display:  none;
  }
  .adress{
    order:2;
  }
  .contact{
    order:3;
  }
  .contacts li a {
      font-size:  9px;
      line-height: 10px;
  }
  .header__hidden{
    display: flex;
    background: rgba(0, 0, 43, 0.5);
    padding: 8px 25px;
  }
  li.menu__link.hidden{
    display: none;
  }
  ul.menu.hidden-menu {
    display:  flex;
    justify-content:  space-between;
  }
  li.menu__link a {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 320px){

}